html,
body {
  /*height: 100%;*/
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}
ul, ol {
    margin: 0 0 10px 0px !important;
    padding: 0;
}
.error_list {
  color: red;
}

.sf_admin_form_row img {
  max-width: 250px;
}
#sf_fieldset_images img {
  max-width: 250px;
}
.productimage img {
  max-width: 250px;
}

.event_assign_photo {
  font-size: 10px;
  color: #0055ff !important;
}