

#custom-show-hide-example > h3 {
    display: none;
}
#custom-show-hide-example01 > h3 {
    display: none;
}


.open > a {
    position: absolute;
    visibility: hidden;
}

right-toggle {
	display:none;
		}
/* Pre hide sections with JavaScript on
--- */


/* CSS3 Animation example
--- */
#css3-animated-example    {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  background: #000;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}
#css3-animated-example .content {
  padding: 10px;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #aaffff;
}

/* Event example
--- */
pre#event-log {
  background: #fafacc;
  padding: 10px;
  display: block;
}

/* Responsive design
--- */
@media screen and (max-width: 1056px) {

  .c2 {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width:767px) {
right-toggle {
	display:none;
		}
#custom-show-hide-example01 > h3 {
	display:block;
	}
#custom-show-hide-example > h3 {
    display: block;
    float: right;
    position: relative;
    top: -55px;
    width: 40px;
	right:50px;
}

.open > a {
    position: absolute;
    visibility: visible;
}
#custom-show-hide-example > h3 {
	top:inherit;
	}	
	
}
@media screen and (max-width:570px) {
#custom-show-hide-example > h3 {
	top:inherit;
	}

	}	
.test { background: #ccc; padding: 10px; border-bottom: 1px solid #aaa;}
.test { background: #fff; padding: 10px; }



@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
 
}
