body {
	font: 12px/1.7em arial,sans-serif;
}
ul li {
    list-style: none;
}
#sf_admin_container {
	width:1100px;
	margin:0 auto;
	}
#sf_admin_container h1 {
    margin-top: 0px;
    padding-top: 50px;
}

textarea, input, input[type="submit"] {
    width: 300px;
    margin-bottom: 20px !important;
}
select { width:316px; margin-bottom:20px !important;}

#sf_admin_container h1, #sf_admin_container h2, #sf_admin_container img{
	 margin: 40px 0 20px 5px;
}
.portlet-header{
	padding:60px 10px 10px 10px;
}
#sf_admin_bar:before{
	content:"Filter";
	color:#000000;
	font-size:18px;
	font-weight:bold;
	padding:10px 20px 10px 20px;
	margin-bottom:20px;
	display:block;
	background-color:#e7eef6;
}
#sf_admin_bar{
	border: 1px solid #ddd;
	border-radius:20px;
	overflow:hidden;
	float: none;
	font-size: 0.8em;
	margin:0 0 20px 0;
}
.sf_admin_filter{
	padding:0 20px;	
	position:relative;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table {
  /*width: 100%;*/
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tr {
  clear: none;
  padding: 0px;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td {
	/*height: 60px;*/
	vertical-align: top;
	border: none;
	padding: 3px;
	border-color: none;
	border-left: 0 none;
	border-right: 0 none;
	border-style: solid none;
	border-width: 0;
	text-align: left;

}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td input[type="text"] {
  font-size: 15px;
  padding: 1px;
  width: 200px;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td input[type="checkbox"] {
	display:inline;
	float:left;
	margin-right:5px !important;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td input[type="submit"] {
	padding:3px 7px;
	margin:0 10px;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td a{
	font-size:13px;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td label{
	width:150px !important;
	display:inherit;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody {
  clear: none;
  display: inline-block;
  float: left;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody tr {
	background-color: transparent;
	float: left;
	border: none;
	width:500px;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot {
	background-color: transparent;
	clear: both;
	position: absolute;
	bottom: 0;
	right: 60px;
	overflow:hidden;
}

#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot tr {
	border:none;
	background-color: transparent;
	float: right;
	padding: 0 10px;
}
.sf_admin_list {
	border:1px solid #ddd;
	border-radius:20px;
	overflow:hidden;
	margin-bottom:20px;
}
.sf_admin_list p{
	padding:5px 20px;
	margin:0;
}
.sf_admin_list table{
	width:101%;
	margin:-1px 0 0 0;
}
#sf_admin_container td, #sf_admin_container th{
	border-bottom: 0;
	padding-bottom: 0px;
	padding-top: 5px;
	line-height: 35px;
}
#sf_admin_container tr{
	border:0;
}
#business_address, #business_description, #business_name{
	width:350px !important;
}
#sf_admin_container #sf_admin_bar{
	display:none;
}
.sf_admin_action_manage_image{
	position:absolute !important;
	top:90px !important;
	left:300px !important;
}
.sf_admin_action_manage_video{
	position:absolute !important;
	top:90px !important;
	left:450px !important;
}
.sf_admin_action_manage_feedback{
	position:absolute !important;
	top:90px !important;
	left:600px !important;
}