html, body {
	margin: 0;
	padding: 0;	
}




h1 {
	margin: 0;
	font-size: 30px;
	font-weight: normal;
	font-family: "Museo 700", Arial;
}

h1 em {
	font-size: 50%;
	letter-spacing: -0.05em;
}

h2 {
	margin: 0;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #D8D8D8;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding-bottom: 14px;
}

a {
	outline: none;	
}



ul {
	margin: 0px 0 24px 0;
}