
form label.label-hidden {
    color: #fff;
	width:0px;
	visibility:hidden;
}
form {
	float:left;
	width:100%;
}
table {
	margin: 0 auto;
	width:100%;
}
tr, td, input, textarea {
	margin: 0;
	padding: 0;
}
td {
	padding: 0 0 5px;
}
tr td:first-child {
	padding-right: 10px;
	padding-top: 11px;
	text-align: right;
	vertical-align: top;
}
.error[generated=true] {
	color: #dc0000;
	font-size: 16px;
	padding: 5px 0 2px 5px;
}
tr.error td {
	padding: 0;
}
input, textarea {
	background: #FFF;
	border: 1px solid #7a91a1;
	font: inherit;
	font-size: 16px;
	line-height: 29px;
	min-height: 30px;
	padding: 5px 10px;
	width: 100%;
	color:#444;border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
}
input:focus, textarea:focus {
	border-color: #b0c3d0;
	outline: none;
}
textarea {
	height: 240px;
	resize: none;
}
input[type=submit] {
	background: #494949;
	color: #FFF;
	font: inherit;
	padding: 10px 20px;
	width: auto;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	-webkit-border-radius:3px;
}
input[type=submit]:hover {
	background: #66cc00;
}
#response {
	margin-bottom: 20px;
	text-align: center;
}
#response .success {
	color: #08a300;
}
#response .failure {
	color: #dc0000;
}
.success-msg {
    color: #333;
    padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
form {
    float: none;
	} 
}
@media screen and (max-width: 360px) {
input, textarea  {
	width:auto;}	
}