@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #fff;
}
* {
	margin: 0px;
	padding: 0px;
	outline: none;
}
a {
	color: #444;
	text-decoration: none;
}
.wrap {
	bottom: 100px;
	position: relative;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	border: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
/*-----header-----*/
.sticky {
	background-color: rgba(245, 245, 245, 0.97);
	width: 100%;
	z-index: 1;
	position: fixed;
	/*border-bottom: 1px solid #e8e8e8;*/
	-moz-transition: height 0.5s ease;
	-webkit-transition: height 0.5s ease;
	-o-transition: height 0.5s ease;
	transition: height 0.5s ease;
	transition: padding 0.9s ease-in;
	-moz-transition: padding 0.9s ease-in;
	-ms-transition: padding 0.5s ease-in;
	-o-transition: padding 0.5s ease-in;
	-webkit-transition: padding 0.5s ease-in;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	top: 0px;
	left: 0px;
}
.fixed {
	z-index: 999;
}
.fixed .menu > ul > li > a {
	line-height: 75px;
	transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding-right: 0px;
}
.search-nav {
	margin-top: -9px;
	text-align: right;
	padding-right: 2px;
}
header a.logo {
	position: fixed;
	width: 130px;
	height: 100px;
	display: block;
	transition-delay: 0s;
	float: left;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	background: #66cc00;
}
header a.logo img {
	width: 100px;
	display: block;
	margin: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
.navbar-toggle {
	float: right;
	margin-right: 0;
	padding: 10px 0;
	margin-bottom: 0;
	margin-top: 25px;
}
.navbar-toggle .icon-bar {
	background: #66cc00;
}
.menu > ul > li {
	float: left;
	position: relative;
	margin: 0;
}
.menu > ul > li > a {
	display: block;
	line-height: 26px;
	text-align: center;
	font-weight: normal;
	color: #333333;
	font-size: 16px;
	padding: 0 30px;
	line-height: 83px;
}
.menu>ul>li.active>a, .menu > ul > li:hover > a {
	background: #66cc00;
	color: #FFF;
}
.menu > ul > li > ul {
	height: auto;
	margin: 0px;
	border: 0px;
	position: absolute;
	z-index: 200;
	background-color: #fff;
	box-shadow: 0px 2px 2px #999;
	-moz-box-shadow: 0px 2px 2px #999;
	-ms-box-shadow: 0px 2px 2px #999;
	-o-box-shadow: 0px 2px 2px #999;
	-webkit-box-shadow: 0px 2px 2px #999;
	width: 134px;
	top: 100%;
	left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}
.menu ul > li:hover ul {
	display: block;
}
.menu > ul > li > ul > li {
	padding-top: 0px;
	float: none;
}
.menu > ul > li > ul > li > a {
	display: block;
	font-size: 14px;
	text-align: left;
	color: #333333;
	padding: 7px 20px;
	font-weight: normal;
}
.menu > ul > li > ul > li > a > span {
	border: 3px solid #7cc627;
	margin-bottom: 10px;
	display: block;
	float: left;
	height: 0;
	margin-right: 10px;
	margin-top: 0.6em;
	width: 0;
}
.menu > ul > li > ul > li > a:hover {
	color: #329800;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
}
.navbar-default .navbar-nav > li:focus {
	border: none;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
	padding: 0 0 7px 0;
	line-height: none;
	display: block;
}
.navbar-default .navbar-nav > li > ul > li {
	border-bottom: 1px solid #e74c3c;
	list-style: outside none none;
	height: 40px;
}
.dropdwn-nav {
	width: 311px;
}
.navbar-header button {
	right: 0px;
	/*background-color:inherit;*/
	border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: inherit;
}
.navbar-default .navbar-nav .open > li > a {
	color: rgb(255,255,255);
}
.navbar-default .navbar-nav .open > li:hover {
	background-color: #d73f2f
}
.navbar-nav > li {
	float: left;
	padding: 16px 15px;
}
.menu {
	margin: 0px;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	float: right;
	margin: 0px;
	font-family: "Lato", sans-serif;
}
/*----header end-----*/

/*----footer  start-----*/

footer {
	background: #363839;
	width: 100%;
}

.social-icone li .apple{
	background: url(../images/Apple-Icon.png) no-repeat scroll 100% 100%;
	background-size: 100% 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: inline-block;
	height: 27px;
	width: 30px;
}
.social-icone li .android{
	background: url(../images/android-logo-black-and-white-261x300.png) no-repeat scroll 100% 100%;
	background-size: 100% 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: inline-block;
	height: 27px;
	width: 30px;
}
.social-icone li .twitter{
	background: url(../images/Twitter-icon.png) no-repeat scroll 100% 100%;
	background-size: 100% 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: inline-block;
	height: 27px;
	width: 30px;
}
.social-icone li .facebook {
	background: url(../images/facebook.png) no-repeat scroll 100% 100%;
	background-size: 100% 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	display: inline-block;
	height: 27px;
	width: 30px;
}
.social-icone li .linkdin {
	background: url(../images/linkdin.png) no-repeat scroll 100% 100%;
	background-size: 100% 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 30px;
	width: 30px;
}
.foot p {
	color: #FFF;
	font-size: 14px;
	line-height: 72px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.foot p a {
	color: #FFF;
}
.foot p a:hover {
	text-decoration: underline;
}
/*----footer  end-----*/

/*=========header-banner============*/


.section-top {
	text-align: center;
	padding-bottom: 20px;
}
.section-top h1 {
	font-size: 36px;
	font-family: 'Lato', sans-serif;
	color: #363636;
	margin-bottom: 0;
}
.section-top p {
	color: #414140;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
.section-top .img-Features {
	width: 100%;
}
.img-Features a {
	height: 152px;
	margin: 0 auto;
	width: 158px;
	display: block;
}
.img-Features img {
	height: 150px;
	margin: 0 auto;
	display: block;
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition: transform .8s ease-in-out;
}
.img-Features img:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.img-Features-text a:hover {
	color: #66cc00;
}
.section-top .img-Features:hover {
	/*background: rgba(153,153,153,0.4);*/
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.section-top .img-Features-text h4 {
	color: #444;
	height: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}
.section-top .img-Features-text p {
	color: #444;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 30px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
}
/*============feature=======*/
h1.feature {
	text-align: left;
	margin-bottom: 20px;
}
/*====== meet the team==========*/


.inquery-img > a > img {
	bottom: 0;
	display: block;
	left: 0;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transform: scale(1) skew(0deg) translate(0px);
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
	vertical-align: middle;
}
.inquery-img > a > img:hover {
	transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
}
.inquery-sec-text ul li:first-child {
	border-left: 0 none;
	margin-left: 0;
	padding-left: 0;
}
.inquery-sec-text ul li {
	border-left: 1px solid #444;
	display: inline-block;
	line-height: 14px;
	margin-left: 5px;
	padding-left: 7px;
}
.inquery-sec-text ul li span {
	color: #444;
	font-size: 14px;
	line-height: 14px;
}
.inquery-sec-text strong {
	color: #444;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	margin: 5px auto;
	display: inline-block;
}
.inquery .row {
	margin-bottom: 30px;
}
.inquery h1 {
	text-align: left;
	padding-left: 15px;
}
.inquery h3 {
	color: #444;
	overflow-x: hidden;
	overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	margin: 5px auto;
}
.inquery p {
	padding: 15px;
	font-weight: 400;
}
.inquery-sec-text a:hover {
	color: #66cc00;
}
.fb-team {
	background-image: url(../../img/fb_pic01.png);
	background-repeat: no-repeat;
	color: #fff;
}
a.see-more {
	background: #494949;
	color: #fff;
	padding: 10px 45px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: right;
	margin-bottom: 30px;
}
a.see-more:hover {
	background: #66cc00;
	color: #fff;
}
.text-news {
	background-color: #e74c3c;
	overflow: hidden;
	margin: 15px 0;
}
.section-latest-news {
	margin-top: 98px;
}
.section-latest-news div h5 {
	font-size: 20px;
}
.section-latest-news div h6 {
	color: #ee9490;
	margin-top: 0;
	font-size: 10px;
}
.section-latest-news .text-news img:first-child {
	margin-top: -2px;
	width: 100%;
}
.latest-hover:hover .hide-icone {
	background-color: #000;
	display: block;
	opacity: 0.8;
	overflow: hidden;
	padding: 121px 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 100;
}
.latest-hover {
	position: relative;
}
.latest-hover p {
	display: none;
}
.text-news p {
	color: #f0c6bc;
	font-size: 16px;
	padding: 10px;
	text-align: left;
}
.text-news .read-mor {
	color: #fff;
	float: left;
	text-decoration: none;
	padding-left: 10px;
	clear: both;
}
.text-news b {
	border-top: 1px solid #fff;
	clear: both;
	color: #e74c3c;
	overflow: hidden;
	width: 100%;
}
.carousel-indicators {
	bottom: -91px;
}
.text-news ul li {
	list-style: none;
	display: inline-block;
	padding: 0;
	font-size: 14px;
	text-align: center;
}
.text-news ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 15px;
}
.section-latest-news .carousel-indicators {
	top: -25px;
	right: 20px;
	width: inherit !important;
	left: inherit !important;
}
.section-latest-news .carousel-indicators li {
	border: 1px solid #e74c3c !important;
}
.section-latest-news .carousel-indicators .active {
	background-color: #e74c3c !important;
}
html, body {
	height: 100%;
}
/*===============gallery===========*/
.panel-default > .panel-heading {
	background-color: #fff;
	border-color: #329800;
	color: #fff;
}
.list-group-item {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 0;
	padding: 10px 15px;
	position: relative;
}
.list-group-item a {
	color: #363839;
}
.panel-default {
	border-bottom-color: #ddd;
	border-left-color: #ddd;
	border-right-color: #ddd;
	border-top-color: #ddd;
	color: #444;
	text-align: left;
}
.panel-default a {
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 0;
	width: 95%;
}
.panel-title > a {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}
.tab-side > a {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 19px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}
.list-group-item {
	padding-right: 0;
}
.panel-heading {
	padding-right: 0px;
}
.tab-side-child > a {
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-left: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 95%;
}
.panel-default > .panel-heading:hover {
	background-color: #66cc00;
}
.panel-default > .panel-heading:hover a {
	color: #fff;
}
.gllry_cat {
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
}
.gllry_cat span:first-child {
	border-left: 0 none;
	margin-left: 0;
	padding-left: 0;
}
.gllry_cat span {
	display: inline-block;
	zoom: 1;
*display:inline;
	padding-left: 7px;
	margin-left: 5px;
	border-left: 1px solid #444;
	color: #444;
	font-size: 14px;
	line-height: 14px;
}
.panel-default > .panel-heading:hover a .caret {
	border-top: 4px #fff;
	border-top: 4px solid #fff
}
.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
	color: #363839;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px #66cc00;
	border-top: 4px solid #66cc00;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	margin-right: 5px;
}
.caret.caretup {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.no-place {
	padding-left: 65px;
}
.panel-default a:hover {
	text-decoration: none;
}
.panel-default a:focus {
	text-decoration: none;
	outline: none;
}
.quick_navigation_active {
	background-color: #66cc00 !important;
}
.quick_navigation_active a {
	color: #FFFFFF !important;
}
.quick_navigation_active span.caret {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #ffffff;
}
.panel-default li:hover {
	background-color: #66cc00;
}
.panel-default li:hover a {
	color: #FFF;
}
.panel-default li:hover a .caret {
	border-top: 4px #fff;
	border-top: 4px solid #fff;
}
/*.list-group-item.tab-side{background-color: #329800;}*/
.list-group-item.tab-side {
	padding-left: 28px;
}
.list-group-item.tab-side-child {
	padding-left: 48px;
}
.gallery > li {
	display: block;
	height: auto;
	list-style: outside none none;
	margin-bottom: 25px;
	margin-right: 10px;
	width: 265px;
	float: left;
	min-height: 265px;
}
.gallery > li > h3 {
    color: #000;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.gallery > li > a {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgb(216, 215, 215);
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	display: block;
	height: 177px;
	margin-bottom: 10px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.gallery img {
	bottom: 0;
	display: block;
	left: 0;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transform: scale(1) skew(0deg) translate(0px);
	transition-delay: 0s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
}
.gallery img:hover {
	transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
	-moz-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
	-o-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
	-ms-transform: rotate(0deg) scale(0.67) skew(1deg) translate(0px);
}
/*=============contact us =============*/
.contact-link {
	color: #444;
}
.contact-link li {
	list-style: none;
	text-align: left;
	margin: 15px 0px;
}
tr td:first-child {
	padding-right: 0px !important;
}
input, textarea {
	width: 100% !important;
}
td {
	padding: 0 0 10px !important;
}
/*=================detail============*/
.detail-img {
	height: 400px;
	position: relative;
}
.detail-img > img {
	bottom: 0;
	left: 0;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}
.detail-img > audio, .detail-img > video {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 250px;
}
.detail-of-img {
	color: #444;
	display: block;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-top: 20px;
	text-align: left;
}
.detail-of-img span {
	border-bottom-color: -moz-use-text-color;
	border-bottom-style: none;
	border-bottom-width: 0;
	color: #444;
	padding-left: 20px;
}
.detail-of-img > li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-bottom: 10px;
}
.detail-of-img > li > label {
	width: 100px;
	float: left;
	margin-bottom: 0px;
}
.detail-of-img > li > span {
	float: left;
	width: 65%;
}
button.show_more {
	background-color: #494949 !important;
	height: 40px !important;
	width: 230px !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	border: 0px;
}
button.show_more:hover {
	background-color: #66cc00 !important;
}
.top-stion-text .messages {
	background: #363839 none repeat scroll 0 0;
	color: #fff;
	height: 30px;
	line-height: 28px;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	width: 230px;
}
.no-rec-messages {
	background: #363839 none repeat scroll 0 0;
	color: #fff;
	height: 30px;
	line-height: 28px;
	margin: 180px auto;
	text-align: center;
	vertical-align: middle;
	width: 230px;
}
.loader {
	background: url("../../images/loading.gif") no-repeat scroll center center rgba(0, 0, 0, 0.8);
	display: block;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999999;
}
.bx-wrapper .bx-prev {
	background: url("../../images/controls.png") no-repeat 0 -32px;
	font-size: 0;
	height: 32px;
	left: 10px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 777;
	outline: none;
}
.bx-wrapper .bx-next {
	right: 10px;
	background: url("../../images/controls.png") no-repeat -43px -32px;
	font-size: 0;
	height: 32px;
	right : 10px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 777;
	outline: none;
}
.bx-wrapper {
	height: 400px;
}
.bxslider > li {
	height: 400px;
	width: 848px;
}
.bxslider img {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	height: 400px;
	max-width: 100%;
}
.bxslider {
	margin: 0;
}
/* 18 11 15 latest  home page Complaints  css  */

/*.inquery-sec-shap {
	background-color: #ebebeb;
	margin: auto;width:262px;height:177px;position:relative;
}*/

.inquery-sec-shap {
	background-color: #ebebeb;
	height: 257px;
	margin: auto;
	position: relative;
	width: 352px;
}
/*.inquery-img {
    display: block;
    height: 177px;
}*/

.inquery-img {
	display: block;
	height: 257px;
}
/*.inquery-img a {
    display: block;
    height: 177px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}*/

.inquery-img a {
	display: block;
	height: 257px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
/*.social-icone {
	float: right;
	background: #66cc00;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
}*/
.social-icone {
	background: #66cc00 none repeat scroll 0 0;
	float: right;
	border-right: 1px solid #fff;
}
/*.foot {
	float: left;
}*/
.foot {
	float: left;
	text-align: left;
	width: 250px;
}
/*.social-icone > li {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-right: 15px;
}*/

.social-icone > li {
	border-left: 1px solid #fff;
	float: left;
	list-style: outside none none;
	padding: 20px 7px;
}
/* add css */

.btn_serrch_space {
	margin-left: 85px;
}
.inquery-seemore-btn {
	margin-bottom: 40px;
	text-align: center;
}
.inquery-seemore-btn a {
	display: inline-block;
	zoom: 1;
*display:inline;
	color: #66cc00;
	font-size: 14px;
}
.searchby_form {
	width: 100%;
	margin-bottom: 20px;
}
.form-group.change_width {
	width: 175px;
	float: left;
	margin-right: 10px;
}
.form-group.change_widthtwo {
	width: 75px;
	float: left;
	margin-right: 10px;
}
.form-group.change_widthtwo label {
	font-size: 14px;
	text-align: left;
	color: #000;
	display: block;
	line-height: 34px;
}
.form-group.change_width .btn_search {
	background: #66cc00 none repeat scroll 0 0;
	border: 0px;
	border-radius: 3px;
	color: #fff;
	width: 100%;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 34px;
	cursor: pointer;
}
.form-group.change_width .btn_search:hover {
	background-color: #494949;
}
.form-group.change_width a {
	background: #494949 none repeat scroll 0 0;
	border: 0px;
	border-radius: 3px;
	color: #fff;
	width: 100%;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 34px;
	display: block;
	text-align: center;
	line-height: 34px;
}
.form-group.change_width a:hover {
	background-color: #66cc00;
}
.section-top h2 {
	color: #363636;
	font-family: "Lato", sans-serif;
	font-size: 22px;
	text-align: left;
}
.section-top p {
	color: #363636;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	text-align: left;
}
.section-banner.less_padding {
	color: #fff;
	margin-top: 0;
	padding-bottom: 0;
	padding-top: 100px;
}
footer .container {
	position: relative;
}
.banner_bg {
	background-image: rgba(0, 0, 0, 0) url("../images/banner-Recovered2.jpg") no-repeat scroll 0 0 / 100% auto;
	background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("../images/banner-Recovered2.jpg");
	background-image: -moz-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("../images/banner-Recovered2.jpg");
	background-image: -ms-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("../images/banner-Recovered2.jpg");
	background-image: -o-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("../images/banner-Recovered2.jpg");
	background-image: -webkit-linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0)), url("../images/banner-Recovered2.jpg");
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 450px;
}
.header-banner {
	padding-top: 50px;
	text-align: center;
}
.header-banner ul {
	margin: 0px;
	padding: 0px;
}
.header-banner ul li {
	display: inline-block;
	margin-left: 100px;
	margin-right: 100px;
	zoom: 1;
*display:inline;
}
.header-banner ul li span {
	display: block;
	width: 156px;
	margin: auto;
}
.header-banner ul li span img {
	height: 300px;
	margin: auto auto 15px;
}
.header-banner ul li a {
	display: block;
	height: 50px;
	margin: auto;
	width: 154px;
}
.header-banner ul li a img {
	height: 50px;
	margin: auto;
	width: 154px;
}
.section-banner {
	color: #fff;
	margin-top: 0;
	padding-bottom: 30px;
	padding-top: 0px;
}
.section-banner.section_change_margin {
	margin-top: 83px;
}

@media screen and (max-width: 1024px) {
.search-nav {
	display: none;
}
.inquery-sec-text {
	margin-bottom: 20px;
}
.sticky {
	height: 85px;
}
.fixed {
	height: 85px;
}
}

@media screen and (max-width: 991px) {
.gallery > li {
	width: 171px;
	margin-right: 5px;
}
}

@media screen and (max-width: 860px) {
.menu {
	float: right;
	padding-left: 25px;
}
.header-banner ul li {
	margin-left: 20px;
	margin-right: 20px;
}
.banner_bg {
	background: #e2e2e2 none repeat scroll 0 0;
	height: auto;
	padding-bottom: 50px;
}
}

@media screen and (max-width: 768px) {
.glyphicon.glyphicon-play {
	display: none;
}
.menu li:hover ul {
	display: block;
	background: none;
}
.section-top {
	padding-top: 0;
}
.inquery {
	margin-top: -65px;
}
/*.inquery-sec-shap {
	width: 315px;
}*/
/*========gallery=====*/
.gallery > li {
	margin-left: 7px;
	margin-right: 6px;
	width: 171px;
}
.contact-link {
	color: #444;
	float: left;
}
.inquery h1 {
	padding-left: 15px;
	text-align: left;
}
.inquery {
	margin-top: 0px;
}
.img-Features-text {
	padding-bottom: 25px;
}
}

@media screen and (max-width: 767px) {
.menu {
	background: #fff;
	float: left;
	text-align: left;
	padding-bottom: 10px;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 39px;
	z-index: 777;
}
.navbar-default {
	left: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
}
.menu {
	margin-top: 0px;
	padding: 10px;
}
.menu > ul > li > ul > li > a {
	color: #FFF;
	padding-left: 30px;
}
.menu > ul > li {
	float: none;
	margin-left: 0px;
	display: block;
	width: 100%;
}
.menu > ul > li > a {
	text-align: left;
	line-height: 37px;
	border-bottom: #363839 solid 3px;
	padding-left: 5px;
}
.menu ul {
	height: inherit;
}
.menu > ul > li > ul {
	position: static;
	margin-left: 0px;
	background-color: #fff;
	display: block;
	box-shadow: none;
	border-top: 0px !important;
	width: auto;
	border-bottom: #FFF solid 3px;
}
.menu > li > ul > a {
	padding: 0;
	font-size: 16px;
	color: #363839;
	line-height: 37px;
}
.menu > ul > li.active a, .menu > ul > li:hover > a {
	background: none;
	color: #66cc00;
}
.fixed .menu > ul > li > a {
	line-height: 37px;
}
.menu > ul > li > ul > li > a {
	color: #363839;
}
/*.menu > ul > li > ul > li > a:hover {
	background: #66cc00;
}*/
.menu .active {
	padding-bottom: 0;
}
.menu ul li ul li {
	padding: 0;
}
.menu ul li ul li:hover {
	background-color: inherit;
	position: static;
}
.navbar-collapse {
	padding-left: 0px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	background: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-top: inherit;
}
.inquery-sec-text {
	margin-bottom: 20px;
}
.inner_div h1 {
	font-size: 20px !important;
	padding-bottom: 20px;
}
}

@media screen and (max-width: 580px) {
.menu {
	float: left;
	padding-left: 15px;
}
.foot {
	float: none;
	text-align: center;
	width: 100%;
}
.foot p {
	line-height: 50px;
}
.social-icone {
	background: #66cc00 none repeat scroll 0 0;
	border-right: 0 none;
	float: none;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	width: 100%;
}
.social-icone > li {
	border-left: 0 solid #fff;
	display: inline-block;
	float: none;
	height: 28px;
	list-style: outside none none;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	width: 30px;
	zoom: 1;
 *display:inline;
}

.form-group.change_width {
    float: none;
    margin-right: 0px;
    width: 100%;
}
.btn_serrch_space {
    margin-left: 0;
}
}

@media screen and (max-width: 480px) {
.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
}
.section-top h1 {
	font-size: 30px;
}
.foot {
	width: 100%;
	float: none;
	text-align: center;
}
.social-icone {
	float: none;
	text-align: center;
}
.social-icone li {
	margin-left: 5px;
	margin-right: 5px;
	float: none;
	display: inline-block;
	zoom: 1;
*display:inline;
}
footer .container {
	padding-left: 0px;
	padding-right: 0px;
}
}

@media screen and (max-width: 400px) {
.drive-btn a {
	height: 47px;
	width: 135px;
}
/*================== gallery============*/
.gallery > li {
	height: auto;
	margin: 5px 0;
	width: 100%;
}
.inquery-sec-shap {
	width: 100%;
}
}

@media screen and (max-width: 360px) {
header .nav strong {
	font-size: 24px;
}
.work-tab {
	width: inherit;
}
.nav-tabs li a {
	padding-left: 2px;
}
/*.inquery-sec-shap {
	width: inherit;
}*/
footer ul {
	padding-left: 0;
}
.navbar-default {
	right: 0;
}
}

@media screen and (max-width: 320px) {
}
